url: "https://gregology.net"
baseurl: ""
raw_baseurl: "https://raw.gregology.net/"
title: "Gregology"
description: "The world according to Greg Clarke. Plus links to my online self."

navbar-links:
  About:
    - Codex Vitae: "codex"
    - Bucket List: "bucket"
    - Timeline: "timeline"
    - Résumé: "resume"
    - Political Compass: "compass"
    - Greg API: "api"
  Posts: "posts"
  Projects:
    - Quinte Mesh: "https://QuinteMesh.ca"
    - Memair: "https://Memair.com"
    - Smiley Om: "https://SmileyOm.com"
    - SV Catsaway: "https://SVCatsaway.com"
    - Packages: "packages"
    - Patents: "patents"
    - Deprecated: "deprecated"
  Contact: "secure"

avatar: "/avatars/greg.jpg"
logo: /logo.jpg

author:
  name: Greg Clarke
  github: gregology
  mastodon: https://clar.ke
  reddit: gregologynet
  linkedin: gregology
  stackoverflow: 1142113/gregology
  youtube: gregologynet
  wikipedia: gregology
  imgur: gregology
  email: greg@gho.st
  signal: +16132626705
  steam: BabyArmour
  twitch: babyarmour
  discord: 305821319239434240
  life_expectancy_years: 86
  life_expectancy_source: https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Life+expectancy+calculator?vgnLocale=en_CA
  dob: "1983-05-03T06:05:00.000+01:00"

share-links-active:
  twitter: true
  facebook: true
  linkedin: true

url-pretty: "Gregology.net"
disqus: "gregology"

excerpt_length: 50
title-separator: "-"

timezone: "America/Toronto"
markdown: kramdown
highlighter: rouge
permalink: /:year/:month/:title/

post_limit: 10

kramdown:
  input: GFM

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true
      social-share: true
      clippy_help: false
  -
    scope:
      path: ""
    values:
      layout: "page"
      show-avatar: true

link-tags: false

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
  - Vagrantfile
  - "*.asc"
  - "public_key_site"
  - vendor

prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "image"
        field:
          element: "text"
          label: "Image"
          help: "Add a thumbnail image to your post."
          placeholder: "Thumbnail"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."

plugins:
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap
  - jemoji
