{% comment %}
Usage
=====

{% include google_photo_album.html album_id='BEjd5qC1UWFBmDuE7' %}

{% endcomment %}


<style>
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow:
    hidden; max-width:
    100%; height: auto;
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<div class='embed-container'>
  <iframe src='https://goo.gl/photos/{{ include.album_id }}' frameborder='0'></iframe>
</div>
