{% comment %}
Usage
=====
{% include instagram_video_player.html id='7DVIJIIJi0' %}
{% endcomment %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<p id="demo"></p>

<script type="text/javascript">
  var json = (function () {
      var json = null;
      $.ajax({
          'async': false,
          'global': false,
          'url': 'https://api.instagram.com/oembed/?url=http://instagram.com/p/{{ include.id }}/',
          'dataType': "json",
          'success': function (data) {
              json = data;
          }
      });
      return json;
  })();
  document.getElementById("demo").innerHTML = json;
</script>
