{% comment %}
Usage
=====
{% include instagram_video_player.html id='7DVIJIIJi0' %}
{% endcomment %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<p id="demo"></p>

<script type="text/javascript">
var myvideourl="https://instagram.com/p/{{ include.id }}/"
$.ajaxSetup({
    scriptCharset: "utf-8",
    contentType: "application/json; charset=utf-8"
});

$.getJSON('https://whateverorigin.org/get?url=' +
    encodeURIComponent(myvideourl) + '&callback=?',
    function(data) {

        var xx=data.contents
        var videourlindex=xx.search('<meta property="og:video" content=')
        var videourlindexend=xx.indexOf('/>', videourlindex);
        var videourl=$.parseHTML(xx.slice(videourlindex,videourlindexend+2))[0].content

        var captionindex=xx.search('<meta property="og:title" content=')
        var captionindexend=xx.indexOf('/>', captionindex);
        var caption=$.parseHTML(xx.slice(captionindex,captionindexend+2))[0].content

        document.getElementById("demo").innerHTML = '<video preload="auto" controls autoplay="autoplay" loop width="100%" height="auto" style="margin-top:25px"><source src="' + videourl + '" type="video/mp4"/></video><br>' + caption + '<br><a href="' + myvideourl + '">View on Instagram</a>'
});
</script>
