<p><br></p>
<hr>
<p>
  <h2 id="signature">Signature</h2>
  {% assign filename = page.path | replace: '_posts/', '' %}
  {% assign signature = filename | replace: '.md', '.md.asc' %}

  <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>{% include_relative {{ signature }} %}</code></pre></div></div>

  <h3 id="verify">Verify</h3>

  <a href='/public_key'>Public key</a> - <a href='{{ site.raw_baseurl }}{{ page.path }}'>raw post</a>

  <div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
curl https://gregology.net/public_key | gpg --import
gpg --verify <(curl {{ site.raw_baseurl }}{{ page.path }}.asc) <(curl {{ site.raw_baseurl }}{{ page.path }})
  </code></pre></div></div>
</p>