<p><br></p>
<hr>
<p>
  <h2 id="signature">Signature</h2>
  {% assign filename = page.path | replace: '_posts/', '' %}
  {% assign signature = filename | replace: '.md', '.md.asc' %}

  <div class="language-plaintext highlighter-rouge" style="max-height:200px;overflow-y:auto;"><pre class="highlight"><code>{% include_relative {{ signature }} %}</code></pre></div>
  <a href="{{ site.raw_baseurl }}{{ page.path }}.asc" download>download</a>

  <h3 id="verify">Verify</h3>

  <div class="language-bash highlighter-rouge"><div class="highlight"><pre class="highlight"><code>
curl https://gregology.net/public_key | gpg --import
curl {{ site.raw_baseurl }}{{ page.path }}.asc | gpg --verify
  </code></pre></div></div>
</p>