<p class="links">
  {% if site.author.twitter %}<a href="http://twitter.com/{{ site.author.twitter }}" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
  {% if site.author.facebook %}<a href="https://facebook.com/{{ site.author.facebook }}" target="_new"><i class="fa fa-facebook"></i></a>{% endif %}
  {% if site.linkedin_link %}<a href="https://ca.linkedin.com/in/{{ site.author.linkedin }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
  {% if site.author.wikipedia %}<a href="https://en.wikipedia.org/wiki/User:{{ site.author.wikipedia }}" target="_new"><i class="fa fa-wikipedia-w"></i></a>{% endif %}
  {% if site.author.reddit %}<a href="https://www.reddit.com/user/{{ site.author.reddit }}" target="_new"><i class="fa fa-reddit"></i></a>{% endif %}
  <!-- {% if site.author.instagram %}<a href="https://www.instagram.com/{{ site.author.instagram }}" target="_new"><i class="fa fa-instagram"></i></a>{% endif %} -->
  {% if site.author.github %}<a href="https://github.com/{{ site.author.github }}" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
  {% if site.author.youtube %}<a href="https://www.youtube.com/user/{{ site.author.youtube }}" target="_new"><i class="fa fa-youtube"></i></a>{% endif %}
  {% if site.author.imgur %}<a href="https://imgur.com/user/{{ site.author.imgur }}" target="_new"><i class="fa fa-picture-o"></i></a>{% endif %}
  <!-- {% if site.author.github %}<a href="https://www.flickr.com/photos/{{ site.author.flickr }}" target="_new"><i class="fa fa-flickr"></i></a>{% endif %} -->
  {% if page.url != '/contact/' %}<a href="{{ site.baseurl }}/contact/" ><i class="fa fa-envelope-o"></i></a>{% endif %}
  <!-- <a href="{{ site.baseurl }}/feed.xml" target="_new"><i class="fa fa-rss"></i></a> -->
</p>
