---
common-css:
  - "/css/main-minimal.css"
common-ext-css:
  - "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
common-ext-js:
  - "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
common-js:
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% include footer-minimal.html %}
  
    {% include footer-scripts.html %}
  
  </body>
</html>
